[submodule "qt-web-extractor"]
	path = qt-web-extractor
	url = https://github.com/wszqkzqk/qt-web-extractor
[submodule "guiless-search"]
	path = guiless-search
	url = https://github.com/wszqkzqk/guiless-search
